# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# Eye Detection App
backend/uploads/
backend/serviceAccountKey.json
ml_pipeline/runs/
ml_pipeline/data/
ml_pipeline/helen_dataset/
*.zip
*.pt
!ml_pipeline/yolov8n.pt
!ml_pipeline/runs/detect/eye_model3/weights/best.pt
